<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weekly Statistics Dashboard</title>
	<link rel="preconnect" href="https://unpkg.com">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	{{ content | safe }}
	<script src="https://unpkg.com/css-paint-polyfill"></script>
	<script> 
		CSS.paintWorklet.addModule("https://unpkg.com/houdini-decorative-barcharts");
		// Trickery to get the polyfill to draw the charts in Firefox and Safari
		setTimeout(() => {
			document.querySelector('.summary').style.width = '100.01%';
			document.querySelector('.summary').style.width = '100%';
		}, 500)
	</script>
</body>
</html>