.card {
  border-radius: var(--card-radius, 1rem);
  background-color: var(--card-background, var(--color-light));
  padding: var(--card-padding, 1rem);
  box-shadow: 0 0.25rem 0.45rem -0.25rem rgba(0, 0, 0, 0.15);

  &--stats {
    --chart-color: var(--color-primary-hue);

    container-type: inline-size;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: linear-gradient(
      hsl(var(--chart-color), 85%, 95%),
      rgba(white, 0)
    );

    @supports not (aspect-ratio: 1) {
      height: max(25vh, 15rem);
    }

    // Solution if you really, really want to keep aspect-ratio of a square
    // @supports not (aspect-ratio: 1) {
    //   &::before {
    //     content: "";
    //     padding-top: 100%;
    //     grid-area: 1 / 1 / -1 / -1;
    //   }

    //   dt {
    //     grid-column-start: 1;
    //     grid-row-end: 2;
    //   }

    //   dd {
    //     grid-column-start: 1;
    //     grid-row-start: 2;
    //   }
    // }

    .chart {
      --barchart-number: 7;
      --barchart-seed: var(--chart-id, 22382);
      // --barchart-start-color: hsl(var(--primary-color-hue), 85%, 65%);
      // --barchart-end-color: hsl(var(--primary-color-hue), 85%, 35%);
      --barchart-start-color: hsl(var(--chart-color), 85%, 65%);
      --barchart-end-color: hsl(var(--chart-color), 85%, 35%);
      // --barchart-start-color: hsl(var(--chart-color), 85%, 85%);
      // --barchart-end-color: hsl(var(--chart-color), 85%, 100%);
      // mix-blend-mode: multiply;

      // background-color: var(--color-primary);
      background-image: paint(houdiniBarCharts);
      margin: 8%;
    }

    dt {
      display: grid;
      grid-template-rows: 1fr auto;
      font-size: 1rem;
      font-size: clamp(1rem, 8qi, 1.25rem);
      color: hsl(var(--chart-color), 85%, var(--tl, 35%));
    }

    dd {
      font-size: 1rem;
      font-size: clamp(0.9rem, 8qi, 1.125rem);

      strong {
        display: block;
        font-size: 1.5rem;
        line-height: 1.3;
        font-size: clamp(1.25rem, 12qi, 2rem);
      }
    }

    // &:nth-child(3n + 2) .chart {
    &:nth-child(3n + 2) {
      --chart-color: calc(var(--color-primary-hue) + 60);
      // --barchart-start-color: hsl(
      //   calc(var(--color-primary-hue) + 60),
      //   85%,
      //   65%
      // );
      // --barchart-end-color: hsl(calc(var(--color-primary-hue) + 60), 85%, 35%);
    }

    // &:nth-child(3n + 3) .chart {
    &:nth-child(3n + 3) {
      --chart-color: calc(var(--color-primary-hue) - 60);
      // --barchart-start-color: hsl(
      //   calc(var(--color-primary-hue) - 60),
      //   85%,
      //   65%
      // );
      // --barchart-end-color: hsl(calc(var(--color-primary-hue) - 60), 85%, 35%);
    }
  }

  &--highlight {
    display: grid;
    grid-template-areas: "stat title" "stat meta";
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    column-gap: 1.5rem;
    // width: fit-content;
    padding: clamp(1rem, 3%, 2rem) clamp(1rem, 5%, 3rem);
    background-image: linear-gradient(
      var(--color-primary) 65%,
      hsl(var(--color-primary-hue), 85%, 40%)
    );
    color: var(--color-light);

    @media (min-width: 80ch) {
      width: fit-content;
    }

    h2 {
      grid-area: title;
      margin: 0;
    }

    strong {
      grid-area: stat;
      font-size: 1.5rem;
      font-size: clamp(1rem, 4vw, 1.5rem);
      border-radius: 50%;
      // border: 2px solid var(--color-primary);
      width: 6ch;
      height: 6ch;
      display: grid;
      place-content: center;
      background-color: var(--color-light);
      color: var(--color-primary);
    }

    p {
      grid-area: meta;
    }
  }
}
